*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	--font-family: "Nunito", serif;

	--main-bg: hsl(200, 50%, 95%);
	--main-color: hsl(200, 50%, 20%);

	--header-bg: hsl(200, 50%, 85%);
	--footer-bg: hsl(200, 50%, 85%);

	--button-bg: hsl(200, 50%, 100%);
	--button-color: hsl(200, 50%, 20%);

	--button-hover-bg: hsl(200, 50%, 85%);
	--button-hover-color: hsl(200, 50%, 20%);

	--button-active-bg: hsl(200, 50%, 25%);
	--button-active-color: hsl(200, 50%, 100%);

	--grid-bg: hsl(200, 50%, 100%);
	--grid-border-color: hsl(200, 50%, 95%);
}

[data-theme="dark"] {
	--main-bg: hsl(200, 50%, 25%);
	--main-color: hsl(200, 50%, 100%);

	--header-bg: hsl(200, 50%, 15%);
	--footer-bg: hsl(200, 50%, 15%);

	--button-bg: hsl(200, 50%, 15%);
	--button-color: hsl(200, 50%, 100%);

	--button-hover-bg: hsl(200, 50%, 35%);
	--button-hover-color: hsl(200, 50%, 100%);

	--button-active-bg: hsl(200, 50%, 100%);
	--button-active-color: hsl(200, 50%, 20%);

	--grid-bg: hsl(200, 50%, 100%);
	--grid-border-color: hsla(200, 50%, 95%);
}

img {
	-webkit-user-drag: none;
}

a {
	font-weight: bold;
	text-decoration: underline;
	color: var(--main-color);
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-family);

	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background-color: var(--main-bg);
	color: var(--main-color);
}

button {
	font-family: var(--font-family);
	font-weight: bold;
	cursor: pointer;
}

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

header {
	text-align: center;
	padding-block: 0.5em;
	background-color: var(--header-bg);
	position: relative;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 1.5rem;
}

#change-theme {
	background-color: transparent;
	color: var(--main-color);
	font-size: 1.15em;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	display: grid;
	place-items: center;
	transition: all 300ms ease;
}

#change-theme:hover {
	background-color: var(--button-active-bg);
	color: var(--button-active-color);
}

main {
	flex: 1;
	padding-block: 40px;
}

.toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px 10px;
}

.grid-color-input {
	width: 60px;
	height: 60px;
	background-color: var(--header-bg);
	padding: 4px;
	border: none;
	border-radius: 4px;
}

.grid-size {
	margin-inline: 20px;
	min-width: 160px;
}

.toolbar button {
	font-size: 1em;
	padding: 0.6em 1em;
	border-radius: 0.2em;
	background-color: var(--button-bg);
	color: var(--button-color);
	border: none;
	transition: all 300ms ease;
}

.toolbar button:hover {
	background-color: var(--button-hover-bg);
	color: var(--button-hover-color);
}

.toolbar button.active,
.toolbar button:active {
	background-color: var(--button-active-bg);
	color: var(--button-active-color);
}

.toolbar .toggle-borders-button {
	margin-right: 20px;
}

.grid-holder {
	margin-top: 30px;
}

.grid {
	margin-inline: auto;
	background-color: var(--grid-bg);
	width: min(720px, 90vw);
	height: min(720px, 90vw);
	display: grid;
}

.grid.show-borders .grid-cell {
	border: 1px solid var(--grid-border-color);
}

.grid-cell {
	transition: all 250ms ease;
	cursor: crosshair;
}

footer {
	background-color: var(--footer-bg);
	text-align: center;
	padding-block: 1em;
}

footer img {
	vertical-align: text-bottom;
}
